
<div id="footer" 
style="font-size:13px;color:#858585;font-family:'微软雅黑';">
<HR  width=80% color=#2f5167 SIZE=3 noShade>
<br>
【<%=v.os%>版，适配：<%=v.browser%>】
<a href='?l=en'>English</a>or<a href='?l=zh'>中文</a>
<a href="/docs">DOCS</a>
<br>
</div>
</div>
</center>
</body>

<link rel='stylesheet' href='/stylesheets/style.css'/>

<script>
function checkForm(obj,to){
	var el=obj.parentNode.parentNode
	if(el.checkValidity()){
		var data={},items=el.querySelectorAll('[name]')
		for(var i=0;i<items.length;i++)data[items[i].name]=items[i].value
		$.post(to,data,function(go){
			if(go=='password'){
				el.querySelector('[name='+go+']').setCustomValidity('用户名或密码错误')
				obj.click();
			}
			else if(/^\/.*$/.exec(go)){
			window.location.href=go
			}
			else alert(go)
		})
	}
}
function checkForm2(obj,to){
	var el=obj.parentNode
	if(el.checkValidity()){
		var data={},items=el.querySelectorAll('[name]')
		for(var i=0;i<items.length;i++)data[items[i].name]=items[i].value
		$.post(to,data,function(go){
			if(go=='password'){
				el.querySelector('[name='+go+']').setCustomValidity('用户名或密码错误')
				obj.click();
			}
			else if(/^\/.*$/.exec(go)){
				window.location.href=go
			}
			else alert(go)
		})
	}
}
function checkForm1(obj){
	obj.setCustomValidity('')
}
</script>

<script src='/javascripts/jquery.js'></script>
<script src=http://float2006.tq.cn/floatcard?adminid=9631004&sort=0></script>
<script src=https://s.meiqia.com/js/mechat.js?unitid=2960></script>
</html>