<ul style="list-style:none;color:white;margin-left:120px;font-weight:bold;font-size:14px;">
<li style="float:left;"><a href="/readme.html" style="color:white;"><%-$('关于本系统')%></a></li>
<li style="margin-left:20px;float:left;"><a href="http://192.168.113.224:4000/%E5%8D%95%E7%82%B9%E7%99%BB%E5%BD%95.html" target='_blank' style="color:white;"><%-$('AJAX incloud')%></a></li>
<li style="margin-left:20px;float:left;"><a href="/单点登录Riakcs.html" target='_blank' style="color:white;"><%-$('submit Riakcs')%></a></li>
</ul>
<br>