<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width"/>
<title><%-$('Incloud演示') %></title>
<link href="/stylesheets/all.css" rel="stylesheet"/>
</head>
<BODY>
<center>
<DIV id="main" style="height:700px;width:100%;margin:auto 0;">
<div style="margin-top:20px;height:50px;width:80%;background:#005bac;">
<div style="height:43px;float:left;">
<a href="/" style='float:left;width:156px;height:43px;background:url("/images/logo.png")'>
</a>