<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,user-scalable = no"/>
<title><%-$('赢在云端') %></title>
</head>
<body style='width:1024px;margin:0px auto'>
<nav style="height:50px;background:#005bac;">
<a href="/" style='float:left;width:156px;height:43px;background:url("/images/LOGO.png")'>
</a>