<%- include pub/title %><br><br><br>
<center>
<p><span style='color:blue;'>支付、生成Key</span>功能尚未开发，我们的团队已经去“宝贝回家”行动了</p>
<p>国内平均每天都会有500多名儿童失踪，总量已经无法统计...</p>
<p>他们现在可能正在地铁里卖唱</p>
<p>他们可能就是那个路边行乞的小孩</p>
<p>您很可能曾与他们擦肩而过，请您拍下他/她的面孔上传到<a href='http://baobeihuijia.com'>宝贝回家</a></p>
恳请您多关注一下他/她的面孔
</center>
<script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
<%- include pub/footer %>