</section>
<br>
<footer style="font-family:arial;">Copyright &copy;2014 <%-$('copy_right')%><footer>
<%if(locals.signup){%>
	<article data-role="page" id="pagetwo">
		<%-fs('agreement') %>
	</article> 
<%}%>
</body>
</html>