<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,user-scalable = no"/>
<script src='/socket.io/socket.io.js'></script>
<script src="/javascripts/main.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<title><%-$('site_title') %></title>
</head>
<body>
<header>
<h1><ruby><%-$('site_title') %><rt>incloud.org.cn</rt></ruby><h1>
</header>
<nav>
	<a href="/signup"><%-$('signup')%></a>
	<a href="/login">&nbsp;登&nbsp;&nbsp;录&nbsp;</a>
	<a href="/machines/new">newMachines</a>
	<a href="/resize">resize</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/reboot" onclick='reboot()'>reboot</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/shutdown" onclick='shutdown()'>shutdown</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/startup" onclick='startup()'>startup</a>
</nav>
<br>
<section>