<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,user-scalable = no"/>
<script src='/socket.io/socket.io.js'></script>
<script src="/javascripts/main.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<title><%-$('site_title') %></title>
</head>
<body>
<header>
<a href='/'><ruby><img src='images/logo3.png'></img><rt><h1>incloud.org.cn</h1></rt></ruby></a>
</header>
