<%- include pub/title %>
<%- include pub/headc %>
<%-msg%>

<!--最新焦点-->
<div style="margin-top:35px;height:430px;width:1050px;">
<div style="margin-left:35px;float:left;width:475px;height:228px;
background-color:#F1F1F1">
<div style="text-align:left;margin-top:15px;margin-left:30px;font-size:14px;font-weight:bold;font-family:'微软雅黑';">
最新焦点
</div>
<hr style="1px solid #c1c1c1" width="90%">
</div>

<div style="margin-left:15px;float:left;">
<!--我的云主机信息-->
<div id="zhuji" style="height:105px;width:475px;background-color:#F1F1F1;">
<div class="mainInput">
<div style="text-align:left;padding-top:15px;margin-left:30px;font-size:14px;font-weight:bold;font-family:'微软雅黑';">
我的云主机   <span style="color:#40617f;margin-left:250px;">总数：0</span>
</div>
<hr style="1px solid #c1c1c1" width="94%">
<span style="float:left;padding-top:10px;padding-left:30px;">
<a href='/purchase' style="color:#305f15;font-weight:bold;font-family:'微软雅黑';">点击这里购买云主机</a>
</span>
</div>
</div>
<!--我的云存储信息-->
<div id="cunchu"style="margin-top:18px;height:105px;width:475px;background-color:#F1F1F1;">
<div style="text-align:left;padding-top:15px;margin-left:30px;font-size:14px;font-weight:bold;font-family:'微软雅黑';">
我的云存储   <span style="color:#40617f;margin-left:250px;">总数：0</span>
</div>
<hr style="1px solid #c1c1c1" width="94%">
<span style="float:left;padding-top:10px;padding-left:30px;">
<a style="color:#305f15;font-weight:bold;font-family:'微软雅黑';">点击这里购买云存储</a>
</span></div></div>

</div>

<%- include pub/footer %>