<nav>
	<a href="/signup"><%-$('signup')%></a>
	<a href="/login">&nbsp;登&nbsp;&nbsp;录&nbsp;</a>
	<a href="/machines/new">newMachines</a>
	<a href="/resize">resize</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/reboot" onclick='reboot()'>reboot</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/shutdown" onclick='shutdown()'>shutdown</a>
	<a href="/4d0ece00-3af3-4c33-98ee-916a314e36a6/startup" onclick='startup()'>startup</a>
</nav>
<br>
<section>