<%- include pub/title %>
<form method="post">
	<input type="password" name="password"
		placeholder='注意密码安全！'
		title ='密码'
		required/>
    <input type="password" name="password_confirmation"
		placeholder='注意密码安全！'
		title ='密码'
		required/>
	<input type="submit" style="display: none" />
	<input type="button" value='提交' onclick='checkSame(this)'/>
</form>
<script>
function checkSame(obj){
	var el=obj.parentNode
	if(el.checkValidity()){
		if(el.querySelector('[name=password]').value!=el.querySelector('[name=password_confirmation]').value)
			el.querySelector('[name=password]').setCustomValidity('密码输入不一致')
	}
	el.querySelector('[type=submit]').click()
	el.querySelector('[name=password]').setCustomValidity('')
}
</script>
<%- include pub/footer %>