<%- include pub/title %>
<%- include pub/heauc %>
<form onsubmit='return false'>
	<input type="password" name="current_password"
		placeholder='原密码'
		title ='密码'
		required/>
	<input type="password" name="password"
		placeholder='注意密码安全！'
		title ='密码'
		required/>
    <input type="password" name="password_confirmation"
		placeholder='注意密码安全！'
		title ='密码'
		required/>
	<input type="submit" onclick='checkForm2(this,"password")' value="确定"/>
</form>

<%- include pub/footer %>