<%- include pub/title %>
<%- include ../headc %>
<form method='post' action='resize'><br><br>
<label for='package'>package</label>
<input type="text" id="package" name='package' value='regular_256' required/>

<label for='machine'>machine</label>
<input type="text" id="machine" name='machine' value='4d0ece00-3af3-4c33-98ee-916a314e36a6' required/>
<input type='submit' value='OK' >
<br><br>
<%=JSON.stringify(list)%><br><br>
<script>
function check(){
	if($('form').checkValidity()){
		socket.emit(obj.id,{txt: obj.value},function(data){validity(data,obj)})
	}
}
</script>
<%- include ../footer %>