body
	position:relative
	width:1000px
	margin:10px auto
nav
	float:left
nav a
	padding-top:20px;
	margin-left:50px;
	height:30px;
	float:left;
	font-size:18px;
	text-decoration:none
	color:#575757
nav a:hover
	text-decoration:overline
	font-weight:bold
	color:#005bac
.top
	padding:5px 20px
	margin-top:10px
	margin-left:800px
img
	border:0
.register{
text-align:center;
padding-left:250px;
}