
<!--提示结束-->
<div id="yuncunchu" style="margin-top:20px;">
<div class="greyTitle">产品</div>
<div class="leixing">
<%for(var keys in datasets){%>
<div onclick="good2(this)" name2='datasets'><%=datasets[keys]['urn']%></div>
<%}%><br>
<div class="greyTitle">数据中心</div>
<%for(var keys in datacenters){
if(datacenters[keys]!='_id'){%>
<div onclick="good4(this)"><%=datacenters[keys]%></div>
<%}}%><br>
<div class="greyTitle">配置</div>
<%for(var keys in packages){%>
<div onclick="good3(this)" ><%=packages[keys]['name']%></div>
<%}%>
</div>
<div>
<div style="float:left;"><input type="button" value="添加到购物车" onclick='goshop()'
style="font-weight:bold;color:white;width:112px;height:31px;background-color:#6aa74e;"/>
 </div>
 </div>

</div>
<script>
var goods={datacenters: "POC", datasets: "sdc:sdc:smartos:1.6.3", package: "SMALL1_1024"}
	console.log(goods)
function good1(el){
	goods[el.parentNode.querySelector('h1').textContent]=el.textContent
	console.log(goods)
}
function good2(el){
	goods['datasets']=el.textContent
	console.log(goods)
}
function good3(el){
	goods['package']=el.textContent
	console.log(goods)
}
function good4(el){
	goods['datacenters']='POC'
	console.log(goods)
}
function good(el){
	goods[el.parentNode.querySelector('.leixing3').textContent]=el.querySelector('#qx').textContent
	document.querySelector('#r1').textContent=el.querySelector('#rmb').textContent
	document.querySelector('#r2').textContent=el.querySelector('#qx').textContent
	document.querySelector('#r3').textContent=(el.querySelector('#rmb').textContent*el.querySelector('#qx').textContent*document.querySelector('#age').textContent).toFixed(2)
	console.log(goods)
}
function show(value){
	document.querySelector('#rongliang').value=value
	document.querySelector('#age').textContent=value
	goods[document.querySelector('#size').textContent]=value
	document.querySelector('#r3').textContent=(value*document.querySelector('#r1').textContent*document.querySelector('#r2').textContent).toFixed(2)
	console.log(goods)
}
function show2(value){
	document.querySelector('#range').value=value
	document.querySelector('#age').textContent=value
	goods[document.querySelector('#size').textContent]=value
	document.querySelector('#r3').textContent=(value*document.querySelector('#r1').textContent*document.querySelector('#r2').textContent).toFixed(2)
	console.log(goods)
}
function goshop(){
	$.post('/purchase/goshop',goods,function(cost){
	$.get('/purchase/goshop',function(goshop){
		var value=''
		for(var keys in goshop){
			value=value+'【'+goshop[keys].goshop.datasets+'】【'+goshop[keys].goshop.package+'】<br>'
		}
		document.querySelector('#goshop').innerHTML=value
	})
	})
}
</script>